# Define the base path variable:
CINNAMON_BASE_DIR="/home/fengjingge/src/downmem/new2-downmem/cinm/Cinnamon"
CINM_LLVM_BUILD_DIR="${CINNAMON_BASE_DIR}/third-party/llvm/build"
CINM_LLVM_BIN_DIR="${CINM_LLVM_BUILD_DIR}/bin"

# Recommended:
CMAKE_GENERATOR=Ninja
CMAKE_C_COMPILER="${CINM_LLVM_BIN_DIR}/clang"
CMAKE_CXX_COMPILER="${CINM_LLVM_BIN_DIR}/clang++"

CMAKE_LINKER_TYPE=MOLD

# Options passed to llvm when it is build by the build script
# Building llvm uses a lot of memory, so it is recommended to limit the number of parallel compile, link & tablegen jobs. The example values here work great for 32 GiB of RAM.
LLVM_CMAKE_OPTIONS='-DLLVM_CCACHE_BUILD=ON -DLLVM_PARALLEL_COMPILE_JOBS=16 -DLLVM_PARALLEL_LINK_JOBS=2 -DLLVM_PARALLEL_TABLEGEN_JOBS=8 -DLLVM_BUILD_SHARED_LIBS=ON -DLLVM_ENABLE_PIC=ON'

TORCH_MLIR_CMAKE_OPTIONS="-DCMAKE_CXX_COMPILER=${CINM_LLVM_BIN_DIR}/clang++ -DCMAKE_C_COMPILER=${CINM_LLVM_BIN_DIR}/clang"
CINNAMON_CMAKE_OPTIONS="-DCMAKE_CXX_COMPILER=${CINM_LLVM_BIN_DIR}/clang++ -DCMAKE_C_COMPILER=${CINM_LLVM_BIN_DIR}/clang -DBUILD_SHARED_LIBS=ON"

# You could add your own LLVM dir; the build script won't try to clone and build LLVM
#LLVM_BUILD_DIR=/home/username/projects/Cinnamon/third-party/llvm/build/